@import '~ng-zorro-antd/ng-zorro-antd.min.css';
@import '~ng-zorro-antd/style/index.min.css'; /* Import base styles */
@import '~ng-zorro-antd/button/style/index.min.css'; /* Import one component's styles */

body {
    color: #172b4d;
    line-height: 1.2;
    font-size: 16px;
    font-family: 'CircularStdBook';
    font-weight: normal;
    margin: 0;
}

@font-face {
    font-family: 'CircularStdBook';
    src: local('CircularStdBook'),
        url(./assets/fonts/CircularStd/CircularStd-Book.ttf) format('truetype');
}

@font-face {
    font-family: 'CircularStdMedium';
    src: local('CircularStdMedium'),
        url(./assets/fonts/CircularStd/CircularStd-Medium.ttf)
            format('truetype');
}
